<div style="border: 1px solid #ddd; padding: 20px">
  <h1>
    Хотите заказать?<br>
    Позвоните нам:</h1>
  <p>
    (343) 376-34-70<br>
    (343) 376-33-73<br>
    (343) 376-49-96<br>
    +7 912 278-37-36
  </p>
</div>



<% if false %>
  <span onclick="showhide();" style="cursor: pointer; "><span><%= image_tag("order.jpg", :style=>"width: 100%; height: auto;") %></span></span>

  <div style="border-width: 1px; border-style: solid; border-color: gray; margin-top: 8px; padding-left: 2px; padding-top: 2px; padding-right: 1em; padding-bottom: 0.5em; display: none; " id="order">
    <%= form_for Order.new, :controller => 'orders' do |f| %>
      <%#= f.error_messages %>
  
      <% if @object %>
        <%= f.hidden_field :artikul, :value => @object.artikul %>
      <% else %>
        <%= f.hidden_field :artikul, :value => 'Без артикула' %>
      <% end %>
    
  	  <p>
        Ваше имя*<br />
        <%= f.text_field :name, :class => "required" %>
      </p>
      <!-- <p>
         Название организации,<br />для которой делается заказ<br />
        <%= f.text_field :name_com %>
      </p> -->
      <p>
        <%= f.label :city, 'Город*' %><br />
        <%= f.text_field :city, :class => "required" %>
      </p>
      <p>
        Телефон* <font color="red">(с кодом города)</font><br />
        <%= f.text_field :phone, :class => "required" %>
      </p>
      <!-- <p>
        Email<br />
        <%= f.text_field :email %>
      </p> -->
      <p>
        <%= f.submit 'Заказать' %>
      </p>
      <p>Поля, обозначенные *, обязательны для заполнения</p>
    <% end %>
  </div>

  <script>
    $(document).ready(function(){
      $("#new_order").validate({
        rules: {
          "order[phone]": {
            required: true,
            minlength: 8
          }
        }
      });
    });
  </script>

  <script>
    jQuery.extend(jQuery.validator.messages, {
        required: "<p style='color: red;'>Пожалуйста, заполните поле</p>",
        remote: "Please fix this field.",
        email: "Please enter a valid email address.",
        url: "Please enter a valid URL.",
        date: "Please enter a valid date.",
        dateISO: "Please enter a valid date (ISO).",
        number: "Please enter a valid number.",
        digits: "Please enter only digits.",
        creditcard: "Please enter a valid credit card number.",
        equalTo: "Please enter the same value again.",
        accept: "Please enter a value with a valid extension.",
        maxlength: jQuery.validator.format("Please enter no more than {0} characters."),
        minlength: jQuery.validator.format("<p style='color: red;'>Минимальная длина равна {0}.<br/>Не забудьте указать код города</p>"),
        rangelength: jQuery.validator.format("Please enter a value between {0} and {1} characters long."),
        range: jQuery.validator.format("Please enter a value between {0} and {1}."),
        max: jQuery.validator.format("Please enter a value less than or equal to {0}."),
        min: jQuery.validator.format("Please enter a value greater than or equal to {0}.")
    });
  </script>
<% end %>