<%= javascript_include_tag "admin/application" %>

<h1><%= title 'Новая страница' %></h1>

<%= form_for(@page) do |f| %>
  <%#= f.error_messages %>

  <p>
    Название<br />
    <%= f.text_field :title %>
  </p>
  <p>
    Текст<br />
    <%= f.text_area :text, id: :category_text, class: 'ckeditor' %>
  </p>
  <p>
    <%= f.submit 'Создать' %>
  </p>
<% end %>

<%= link_to 'Назад', pages_path %>