<!DOCTYPE html>
<html lang="ru">
  <head>
    <title><%= (yield(:title) || "") +' – ЛЕО-Дизайн' %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= yield(:head) %>
    
  	<script type="text/javascript">
  	  var _gaq = _gaq || [];
  	  _gaq.push(['_setAccount', 'UA-18002774-1']);
  	  _gaq.push(['_setDomainName', 'none']);
  	  _gaq.push(['_setAllowLinker', true]);
  	  _gaq.push(['_trackPageview']);

  	  (function() {
  	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  	  })();
  	</script>

    <script type="text/javascript" charset="utf-8">
        window.onload = function () {
            var container = $('div.sliderGallery');
            var ul = $('ul', container);
          
            var itemsWidth = ul.innerWidth() - container.outerWidth();
          
            $('.slider', container).slider({
                min: 0,
                max: itemsWidth,
                handle: '.handle',
                stop: function (event, ui) {
                    ul.animate({'left' : ui.value * -1}, 500);
                },
                slide: function (event, ui) {
                    ul.css('left', ui.value * -1);
                }
            });
        };
    </script>

  	<script>
  		function showhide()
  		{
  		    el = document.getElementById("order");
  		    if (el)
  		    {
  		        if (el.style.display == "block")
  		            el.style.display="none";
  		        else
  		            el.style.display="block";
  		    }
  		}
  	</script>
  </head>

  <body>
  	<div id="container">
		  <div id="header">
		    <a href="/" style="height: 100%; width: 800px; display: block;"></a>
		    <div style="position: absolute; top:0; right: 0; padding: 20px 0 20px 20px; z-index: 2;">
		      <%#= render :partial => "layouts/order_call" %>
		    </div>
		  </div>
	
   	  <div id="top_nav">
		    <ul>
		      <li><%= link_to 'На главную', root_path %></li> 
  			  <li><%= link_to 'Отзывы', '/pages/11' %></li> 
  			  <li><%= link_to 'Прайсы', prices_path %></li>
  			  <li><%= link_to 'Контакты', contacts_path %></li> 
  			  <li><%= link_to 'АКЦИИ!', '/pages/12', style: 'color: red; font-weight: bold' %></li> 
  			</ul>
		  </div>
    		<div id="middle">
		  		<table>
					<tr>
				      <td id="menu">					
  							<div id="user_status">
  		       	    <% if current_user %>
  				          <%= link_to "Выход", logout_path %>
  				        <% end %>
  					  	</div>
    						
                  <ul>
                    <% Category.roots.each do |cat| %>
                      <li id="main" class='<%= "#{'selected' if @category==cat or @category.try(:parent)==cat}" %>'>
                        <%= link_to cat.name, category_path(cat).gsub('%2F', '/'), class: "#{'selected' if @category==cat or @category.try(:parent)==cat}" %>
                        <% if cat.children.size > 0 %>
                          <ul>
                            <% cat.children.each do |pr| %>
                              <li id="child" class='<%= "#{'selected' if @category==cat}" %>' ="<%= "color: red;" if pr.permalink=='sale' %>">
                                <%= link_to pr.name, category_path(pr).gsub('%2F', '/'), class: "#{'selected' if @category==cat}", style: pr.permalink=='sale' ? "color: red;" : nil %>
                              </li>
                            <% end %>
                          </ul>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>

  			<br />
			
	
  			<%#= render :partial => "orders/form" %>

  			<br/>
	
  			<div style="text-align: center;" >
  			  <%= link_to (image_tag "cover1.jpg", style: 'width: 150px')+raw('<br/>Заказать бесплатный каталог'), 'https://cloud.mail.ru/public/5hZg/ZfT34k6AW', target: '_blank' %>
          <br/><br/>

  			  <%= link_to (image_tag "cert_sm.jpg")+raw('<br/>Подарочный сертификат'), asset_path("cert.jpg"), :rel=>'cert', :class=>'cert' %><br/><br/>
  			  <script>
  			  $(document).ready(function() {
            $("img.cert").each(function() {
                var $this = $(this);
                var src = $this.attr('src');
                $this.addClass('cert');
                var a = $('<a class="cert" rel="feedback"/>').attr('href', src);
                $this.wrap(a);
            });
            $('a.cert').colorbox({rel:'cert'});
  			  });
  			  </script>
	  
  			</div>
  	  </td>
  
			      <td id="content">
						  <% flash.each do |name, msg| %>
					      <%= content_tag :div, msg, :id => "flash_#{name}" %>
					    <% end %>
			    
	            <% if show_title? %>
	              <h1><%= yield(:title) %></h1>
	            <% end %>

	            <div><%= yield %></div>
	          </td>
			    </tr>
			  </table>
			</div>
			
  		<div id="footer">
        <%= image_tag "slogan.jpg" %><br />
  			<div id="footer-table">
  			  <table>
  				<tr>
  		      <td valign="top" style="width: 200px;">
              <% count = Category.all.size %>
              <% i = 0 %>
              <% categories = [] %>
              <% Category.roots.each do |cat| %>
                <% categories << cat %>
                <% cat.children.each do |pr| %>
                  <% categories << pr %>
                <% end %>
              <% end %>
              
              <% categories.each do |cat| %>
                <% if cat.root? %>
                  <div><strong><%= link_to cat.name, category_path(cat).gsub('%2F', '/'), class: "#{'selected' if @category==cat or @category.try(:parent)==cat}" %></strong></div>
                <% else %>
                  <div><%= link_to cat.name, category_path(cat).gsub('%2F', '/'), class: "#{'selected' if @category==cat or @category.try(:parent)==cat}" %></div>
                <% end %>
                
                <% i += 1 %>
                <% if i == count/4+1 or i == count/2+2 or i == count*3/4+3 %>
        		      </td><td valign="top" style="width: 200px;">
                  <% i == 1 %>
                <% end %>
              <% end %>
              <div><strong><%= link_to 'Контакты', contacts_path %></strong></div>
            </td>	
  				</tr>
			  </table>
				
  			г. Екатеринбург,  Чернышевского, 1 <br />
  			тел.: (343) 376-34-70, 376-49-96, e-mail: <a href="mailto:a1214@list.ru">a1214@list.ru</a><br />
  			© <a href="http://www.mediakrug.ru/" target="_blank">Издательский дом "Медиа круг"</a>. Все права защищены.<br />
					
  				<!-- Rating@Mail.ru counter -->
  				<script type="text/javascript">//<![CDATA[
  				var a='';js=10;d=document;
  				try{a+=';r='+escape(d.referrer);}catch(e){}try{a+=';j='+navigator.javaEnabled();js=11;}catch(e){}
  				try{s=screen;a+=';s='+s.width+'*'+s.height;a+=';d='+(s.colorDepth?s.colorDepth:s.pixelDepth);js=12;}catch(e){}
  				try{if(typeof((new Array).push('t'))==="number")js=13;}catch(e){}
  				try{d.write('<a href="http://top.mail.ru/jump?from=1947174"><img src="http://d6.cb.bd.a1.top.mail.ru/counter?id=1947174;t=231;js='+js+
  				a+';rand='+Math.random()+'" alt="Рейтинг@Mail.ru" style="border:0;" height="31" width="88" \/><\/a>');}catch(e){}//]]></script>
  				<noscript><p><a href="http://top.mail.ru/jump?from=1947174"><img src="http://d6.cb.bd.a1.top.mail.ru/counter?js=na;id=1947174;t=231" 
  				style="border:0;" height="31" width="88" alt="Рейтинг@Mail.ru" /></a></p></noscript>
  				<!-- //Rating@Mail.ru counter -->
  			</div>
  		</div>
  	</div>
  </body>
</html>
